<header>

  <div id="header">
  <%= link_to logo, root_path %>
      <h1><a href="/">Bryan's Sample App</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
            <li><%= link_to "Home", '/' %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Sign in", '#' %></li>
            </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
            <li><%= link_to "Home", '/' %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </div>
    </div>
</header>
